@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

html,
body {
  min-height: 100vh;
  background: rgb(17, 24, 39);
}

body {
  color: #fff;
}
